body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
nav {
  margin: 0;
  padding: 0.5em;
  text-align: center;
  background-color: #444;
}
nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}
main {
  padding: 2em;
  text-align: center;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
